* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    height: 92vh;
    padding: 10px;
    flex: 20%;
    overflow-y: auto;
    padding-bottom: 30px;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 80%;
  }
  
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }
  
  
  